* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #956B52;
    background-image: url(./image/papier.png);
    background-size: 1900px 1000px;
    background-position: 90%;  
    height: 100vh;
}

.entrer{
    position: static;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ece1db;
    font-size: 20px;
    background-color: #773F24;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 2px #370B13;
    border-style: solid;
    flex-direction: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 480px;
}



.jeu{
    position: relative;
    height: 800px;
    width: 1200px;
    background-color: #DEC7BA;
    overflow: hidden;
    margin-left:auto ;
    margin-right: auto;
    background-position: bottom;
    border-radius: 10px;
    border: 2px #370B13;
    border-style: solid;

}





.explication{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    width: 800px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    
}

.titre{
    position: relative;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center
    
}

.chapitre{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center
    
}



.image{
    position: relative;
    overflow: hidden;
    margin-left:auto ;
    margin-right: auto;
    top: -765px;
    text-align: center;
    z-index: inherit;

}

    


