* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #956B52;
    background-image: url(../image/papier.png);
    background-size: cover;
    background-position: 90%;  
    min-height: 100vh;
}

.Bouton1{
    position: static;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ece1db;
    font-size: 20px;
    background-color: #773F24;
    width: 200px;
    border-radius: 4px;
    border: 2px #370B13;
    border-style: solid;
    
}

.Bouton2{
    position: static;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ece1db;
    font-size: 20px;
    background-color: #773F24;
    width: 200px;
    border-radius: 4px;
    border: 2px #370B13;
    border-style: solid;
}

.jeu{
    position: relative;
    top: 20px;
    width: 1500px;
    height: 900px;
    background-color: #DEC7BA;
    overflow: hidden;
    margin-left:auto ;
    margin-right: auto;
    background-position: bottom;
    border-radius: 10px;
    border: 2px #370B13;
    border-style: solid;
}

.explication{
    color: #e9ded8;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    height: 500px;
    width: 200px;
    margin-top: 10px;
    background-color:#77402491 ;
    left: 50px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    position: relative;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center
    
}

.chapitre{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center
    
}

.image{
    position: relative;
    top: -510px;
    left: 750px ;
    z-index: inherit;
}

    


