* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #956B52;
    background-image: url(../image/papier.png);
    background-size: cover;
    background-position: 90%;  
    min-height: 100vh;
}


#boutons {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ece1db;
    font-size: 20px;
    background-color: #773F24;
    border-radius: 4px;
    border: 2px #370B13;
    border-style: solid;
}

.jeu{
    background-color: #DEC7BA;
    border-radius: 10px;
    border: 2px #370B13;
    border-style: solid;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.explication{
    color: #e9ded8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color:#77402491 ;
    text-align: center;
    border-radius: 10px;
}

.titre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center
    
}

.chapitre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;

    
}

/*
.media{

}
*/

img{
    max-width: 100%;
    height: auto;
    text-align: center;
}

.image{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
}
  
.element {
    flex: 0 0 33.333%;
    width: 20%;
}

#mute{
    display: flex;
    margin-top: 20%;

}

@media screen and (min-width: 800px ) { 
    #content{
        max-width: 100%;
        height:auto;
        display: flex;
        flex-direction:row;
        align-items: flex-end;
        justify-content: end;
        margin: 5% 0.2%;
    
    }

    #explication{
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        justify-content: start;
        margin: 10% 10%;
        max-width: 30%;
    }

    .jeu{
        margin: 10% 5%;
    }



}